/*Grid Setup*/
.wrapper {
display: grid;
grid-template-columns: 1fr 3fr 2fr;
grid-template-rows: auto;
grid-template-areas:
    'logo banner banner'
    'nav nav nav'
    'main main side'
    'footer footer footer';
grid-gap: 4px;
}
/*Area Styling*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.box {
    border: solid 1px black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}
.logo {
    grid-area: logo;
    border: solid 1px black;
    background-color: #191919;

    
}
.banner {
    grid-area: banner;
    border: solid 1px black;
    background-color: #818180;
    position:relative;
    
}
.nav {
    grid-area: nav;
    padding: 30px;
    border: solid 1px black;
    background-color: #474747;
}
.main {
    grid-area: main;
    padding: 30px;
    border: solid 1px black;
    background-color: #c1c1c1;
    text-align: left;

}
.side {
    grid-area: side;
    padding: 30px;
    border: solid 1px black;
    background-color: #818180;
    position: relative;
    width:auto; 
}
.footer {
    grid-area: footer;
    padding: 30px;
    border: solid 1px black;
    background-color: #474747;
    text-align: right;
    color: white;
}

/*Link Styling*/
a {
    color: white;
}
a:hover {
    color: #eb0703;
  }
/*Image Styling*/
.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-radius:10px;
}
.main img {
padding:0 0 50px 50px;
}
.logo img {
padding:20px;
}
/*Text Styling*/
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgray;
}
.side-text {
position:relative;
}
.footer-text-right{
    text-align:right;
}
.footer-text-left {
   text-align:left;
}
.banner-text2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

